.head {
    background-color: black;
    height: 50px;

}

li {
    color: azure;
    margin-top: 10px;
    margin-right: 40px;
    list-style-type: none;
}


.relative img {
    width: 100%;
    position: relative;
    height: 550px;



}

.absolute img {
    position: absolute;
    top: 150px;
    margin-left: 68px;
    width: 150px;
}

.absolute h1 {
    position: absolute;
    top: 210px;
    margin-left: 68px;
}

.absolute #img2 {
    position: absolute;
    top: 320px;
}

.absolute #p1 {
    position: absolute;
    top: 380px;
    margin-left: 68px;
    color: #fff;
}

.absolute a {
    position: absolute;
    top: 485px;
    margin-left: 68px;
    padding: 9px 30px 9px;
    border-color: azure;
}

.absolute h2 {
    position: absolute;
    top: 650px;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.absolute #p2 {
    position: absolute;
    top: 700px;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.absolute h2 #p2 {
    width: 1400px;
    height: 105px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.38));
    background-color: #ffffff;
}

.absolute i {
    position: absolute;
    top: 700px;
    padding: 5px;
}

.text-box h1 {

    font-size: 36px;
    color: #ffffff;
    font-family: "Raleway";
}

.text-box img {

    padding: 20px;
}

.text-box p {

    opacity: 0.800;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}


hr {
    -ms-grid-layer: initial;
}

#img3 {
    margin-left: 200px;
    margin-top: 50px;
    float: right;

}

.pg2 h1 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 100px;
}

.pg2 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 100px;
}

.pg2 a {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
}

.pg2 img {
    float: right;
    margin-left: 100px;
    margin-top: 100px;

}

.pg2 a {
    margin-left: 400px;
    padding: 9px 30px 9px;
    border-color: azure;
    background-color: orange;
    color: #fff;
}

.pg2 {
    height: 600px;
    width: 100%;
    background-color: #f5f5f5;
}

.pg2 button {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.pg3 h1 {
    font-size: 20px;
    line-height: 43px;
    color: #212121;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: left;

}

.pg3 h1 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
}

.pg3 h2 {
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}

.pg3 h2 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.pg4 {

    height: 524px;
    background-color: #f5f5f5;
}

.pg4 h1 {
    font-size: 20px;
    line-height: 43px;
    color: #212121;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    padding: 60px;
}

.pg4 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 60px;
}

.pg5 {

    height: 592px;
    background-color: #ffffff;
}

.pg5 h1 {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
    padding-top: 50px;
}

.pg5 h2 h3 h4 {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    margin-left: 10px;
}

.pg5 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.pg5 img {
    margin-left: 100px;
    padding: 25px;
}

.pg6 h1 {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: "Raleway";
    text-align: center;
    padding-top: 50px;


}

.pg6 p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.pg6 {

    height: 700px;
    background-color: #f5f5f5;
}

.pg6 #pg {
    padding: 50px;
    height: 500px;
    margin-right: 50px;
}

.pg7 h1 {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: "Raleway";
    text-align: center;

}

.pg7 #pg {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.pg7 h1 {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";

}

.pg7 p {
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
}

.pg7 {
    width: 1400px;
    height: 591px;
    background-color: #ffffff;
}

.pg7 #img7 {
    height: 50px;
}

.pg8 h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    font-family: "Raleway";
    padding-top: 50px;

}

.pg8 p {
    opacity: 0.800;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;
}
.pg8 a{
    
}

.pg8 {
    width: 1400px;
    height: 320px;
    background-color: #000000;
}

.pg9 h1 {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: "Raleway";
    text-align: center;
    margin-top: 100px;
}

.pg9 #p9 {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 25px;
}

.pg9 p {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 400;
    font-family: "Open Sans";
}

.pg9 hr {
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 1, 0.16));
    width: 250px;
}

.footer img {
    font-size: 24px;
    color: #cccccc;
    font-family: "Font Awesome";
    margin-left: 500px;
    margin-top: 30px;
}
.footer p{
    opacity: 0.502;
font-size: 12px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
text-align: center;
padding-bottom: 25px;
padding-top: 20px;
}
.footer #imgf{
    opacity: 0.502;
font-size: 12px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
margin-left: 600px;
padding-top: 10;
padding-bottom: 20px;
}